@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap');

body {
  background-color: rgba(243, 160, 220, 1);
  font-family: 'Piazzolla', serif;
}


#cont{
  background-color:hsla(317, 4%, 30%, 1);
  padding:1%;
  text-align:center;
  width:60%;
  margin:3% auto;
  border-radius: 5px;
  border: 2px white solid;
}

img {
  margin:10px 20px;
  width:200px;
  height:200px;
  border-radius: 50%;
  transition: .3s all ease;
}

img:hover {
  transform: scale(1.1);

}


h1 {
text-align:center;
width:90%;
margin:2% auto;
padding:.5%;
color:white;}
